<div class="input-group">

    <input data-bind="value: qty(), attr: {'data-validate': getDataValidator(), 'title': $t('Qty')}"
           type="number"
           name="qty"
           id="qty"
           maxlength="12"
           class="input-group__input" />
    <div class="qty-changer">
      <span class="input-group__addon">
          <button click="increaseQty" class="input-group__button input-group__button--increase">
            <i class="fa-solid fa-caret-up"></i>
          </button>
      </span>
      <span class="input-group__addon">
          <button click="decreaseQty" class="input-group__button input-group__button--decrease">
            <i class="fa-solid fa-caret-down"></i>
          </button>
      </span>
    </div>
</div>
